html,
body,
.app {
  margin: 0;
  padding: 0 12px;
  height: 100%;
  font-family: sans-serif;
  background-color: bisque;
}
button {
  padding: 6px 8px;
  border-radius: 4px;
  background: royalblue;
  color: white;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1;
}
button[disabled] {
  background-color: #ececec;
  color: #adadad;
  cursor: not-allowed;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 1;
}
.bottom {
  margin-bottom: 60px;
}
.title {
  font-size: 36px;
}
#choice-input {
  padding: 4px 8px;
  font-size: 1.2em;
  margin-right: 12px;
  border-radius: 4px;
  text-align: center;
  background: transparent;
  border: 1px solid;
}
.add-button {
  fill: white !important;
}
#choice-form {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.choices-container {
  flex-grow: 1;
  margin-top: 30px;
}
.choicebox {
  min-width: 50vw;
  padding: 8px 12px;
  margin-bottom: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
}
.choicebox__chosen {
  background-color: green;
  color: white;
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
